body {

  margin: auto;

      width: 70%;

      padding: 30px;

}
  header {
    text-align: center;

    background: #ff8b8b;
    height: 80px;
  }

div.nav_menu {
  font-size: 30px;
    height: 40px;
      width: 99.9%;
      background-color: powderblue;
    padding: 1px;
      text-align: center;
    color: gray;
    font-family: arial;
    font-style: bold;
}

div.welcome-content{
background-color: #efeded;
padding: 10px;
font-family: arial;
color: black;
}

img.profilepic{
      width: 784px;
      height: 530px;
      float: center;
      margin-left: 15px;
      text-align: center;
}

div.text-box-content{
background-color: #efeded;
padding: 10px;
font-family: arial;
color: black;

}

section.Education{
background-color: #efeded;
padding: 10px;
font-family: arial;
color: black;
}

p.intro{
margin-left: 20px;
margin-right: 20px;
line-height: 1.7;
text-align: justify;

}

p.educated{
font-family: arial;
color: black;
font-weight: bold;
margin-left: 12px;
}

p.educated2{
font-family: arial;
color: black;

margin-left: 20px;
}


h2{
  font-size: 30px;
  margin-bottom: 10px;
  font-family: arial;
    color: gray;
    font-style: italic;
  text-align: center;

}

h3{
  font-size: 20px;
  margin-bottom: 10px;
  font-family: arial;
    color: gray;
    font-style: italic;
  margin-left: 12px;

}
  a {
    color: #ed6f6f;
  }
  h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-family: arial;
      color: white;
      font-style: italic;
  }
  div.contact-content{
    height: 50px;
      width: 99.9%;
      background-color: powderblue;
    padding: 1px;
      text-align: center;
    color: gray;
    font-family: arial;
    font-style: italic;

  }

  div.footer-content{
    height: 50px;
      width: 99.9%;
      background-color: #ff8b8b;
    padding: 1px;
      text-align: center;
    color: gray;
    font-family: arial;
    font-style: italic;

  }