body {
	
	margin: auto;

      width: 70%;

      padding: 30px;
}

header {
    text-align: center;

    background: #ff8b8b;
    height: 80px;
  }

 div.nav_menu {
  font-size: 30px;
    height: 40px;
      width: 99.9%;
      background-color: powderblue;
    padding: 1px;
      text-align: center;
    color: gray;
    font-family: arial;
    font-style: bold;
}

h1 {
    font-size: 70px;
    margin-bottom: 10px;
    font-family: arial;
      color: white;
      font-style: italic;
  }

div.wrapper{
background-color: #efeded;
padding: 10px;
font-family: arial;
color: black;
}

h2{
  font-size: 25px;
  margin-bottom: 10px;
  font-family: arial;
    color: black;
  text-align: left;

}